/* CAse Study style*/

body{
    background-image: url(Images3/bleBackground.jpg) ;
    background-repeat:repeat-y;
  }
  
  
  
  #myName{
  
      text-align: center;
      align-content: center;
      font-family: 'Josefin Slab', serif;    
      font-size: 25px;
      }
      

      h2{
        font-size: 40px;
        text-align: center;
      }
        #two{
          flex-wrap: wrap;}




.titulito{
    text-align: center;
  color: rgb(38, 207, 38);
}

.texto{
text-align: center;
text-justify: center;

}

.carousel-caption {
  
  bottom: 200px !important;}
  

.fotos{
    width: 100%;
    height: auto;
}

.centrado{
  text-align: center;
}

.mitad{
  text-align: center;
}

/*botones*/
.center{
  text-align: center;
}

.boton{
  display: flex;  
justify-content: center;  
align-items: center;
color: white;  

}


.rounded  {
  background-image: url("images2/butonBack2.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;}

  /* Footer Styles */
    
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  background-image: url("images/MenuStripe.png");
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100px;
}

.footer a {
  padding: 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

}

.About {
  color: black;
}

.Home {
  color: black;
}

.Contact {
  color: Black;
}

.Porfolio{
  color: Black;
}

.Blog{
  color: Black;
}


  @media screen and (max-width: 600px) {
  .image-grid {
      grid-template-columns: 60%;
     }