body{
  background-image: url(images2/backgroundhojas.jpg) ;
  background-repeat: no-repeat;
}



#myName{
    text-align: center;
    align-content: center;
    font-family: 'Josefin Slab', serif;    
    font-size: 25px;
    }

    .contenedor{
      text-align: center;
    }

    .fotos{
     width: 100%;
     height: auto;
  
    }

.card{
  height: 100%;
}

.transparent{
  background-color: rgba(255, 255, 255, 0) !important;
  border: none !important;
}



.boton{
  display: flex;  
justify-content: center;  
align-items: center;
color: white;  

}

.center{
  text-align: center;
}
.rounded  {
  background-image: url("images2/butonBack2.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;}


    /* Footer Styles */
    
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  background-image: url("images2/MenuStripe.png");
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100px;
}

.footer a {
  padding: 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

}

.About {
  color: black;
}

.Home {
  color: black;
}

.Contact {
  color: Black;
}

.Porfolio{
  color: Black;
}

.Blog{
  color: Black;
}



@media screen and (max-width: 600px) {
   .container{
       flex-direction: column;
    justify-content: center;  
   }}